* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
}

.pattern-section {
  height: 300px;
  flex-basis: 100%;
  margin: 50px;
}

.pattern-box {
  height: inherit;
  border: 5px solid black;
}

.answer-section {
  height: 300px;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.block:first-child {
  background: #ff1100;
  margin-bottom: 2%;
  margin-right: 2%;
}

.block:first-child:focus {     
  background-color:#d90e00;    
}

.block:nth-child(2) {
  background: #0004ff;
  margin-left: 2%;
  margin-bottom: 2%;
}

.block:nth-child(2):focus {
  background: #0004db;
}

.block:nth-child(3) {
  background: #00ba28;
  margin-top: 2%;
  margin-right: 2%;
}

.block:nth-child(3):focus {
  background:#009921;
}

.block:last-child {
  background: #fffb00;
  margin-left: 2%;
  margin-top: 2%;
}

.block:last-child:focus {
  background: #ebe702
}

.block {
  height: 48%;
  flex-basis: 48%;
  border: 5px solid black;
}

.block:focus {
  border: 5px solid rgb(107, 163, 247);
  transition: all 0.25s;
}

.results {
  margin: 0 50px;
  font-size: 40px;
  text-align: center;
}

.game-options {
  text-align: center;
}

.game-options h1 {
  font-size: 50px;
  margin: 30px 0 0 0;
}

.btn {
  font-size: 16px;
  padding: 5px;
  background: #fff;
  border: 1px solid black;
  cursor: pointer;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.btn-start {
  display: block;
  margin: 15px auto;
}

.btn-reset {
  margin: 0 15px;
}

.score {
  font-size: 20px;
  margin: 15px 0;
}

@media screen and (min-width: 650px) {
  .game-board {
    flex-wrap: nowrap;
  }

  .pattern-section {
    height: 500px;
    flex-basis: 50%;
  }

  .answer-section {
    height: 500px;
    flex-basis: 50%;
  }
}
